header {
    font-variant: all-small-caps;
    font-size: x-large;
    text-align: center;
    color: rgb(100, 69, 0);
}

body {
    background-color: floralwhite;
    line-height: 1.3em;
    max-width: 50em;
}

section {
    background-color: floralwhite;
    padding: 10px 25px 20px 20px;
    border: solid 2px;
    border-radius: 6px;
    border-color: rgba(170, 118, 0);
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1000px;
}

section img {
    float: right;
    padding: 10px 10px 10px 55px;
}

.small {
    font-variant: all-small-caps;
    font-size: large;
    color: rgb(100, 69, 0);
}

a {
    text-decoration: none;
    color: rgb(100, 69, 0);
}

.navbox {
    display: flex;
    flex-direction: row;
    border-top: solid 0.5px;
    border-bottom: solid 0.5px;
    border-color: rgb(100, 69, 0);
    font-variant: all-small-caps;
    font-size: x-large;
    text-align: center;
}

.navbox div {
    margin: 10px;
    width: 100%;
}